<settings>
    <setting propertyKey="@Properties.sourceBG" title="@Strings.sourceBG" >
        <settingConfig type="list">
            <listEntry value="0">URL NightScout</listEntry>
            <listEntry value="1">AAPS</listEntry>
            <listEntry value="2">Xdrip+</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.NSurl" title="@Strings.NSurlPrompt" prompt="@Strings.NSurlPrompt">
        <settingConfig type="alphanumeric" required="false" /></setting>
    <setting propertyKey="@Properties.NStoken" title="NStokenPrompt" prompt="@Strings.NStokenPrompt">
        <settingConfig type="alphanumeric" required="false" /></setting>

    <setting propertyKey="@Properties.afficheSecondes" title="@Strings.secondsPrompt" >
        <settingConfig type="boolean" /></setting>
    <setting propertyKey="@Properties.afficheFields" title="3 Fields instead of BG graph" >
        <settingConfig type="boolean" /></setting>
    <setting propertyKey="@Properties.nbHGraph" title="@Strings.nbHGraph" >
        <settingConfig type="list">
            <listEntry value="0">1h</listEntry>
            <listEntry value="1">2h</listEntry>
            <listEntry value="2">4h</listEntry>
            <listEntry value="3">6h</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.logarithmique" title="@Strings.logarithmique" >
        <settingConfig type="boolean" /></setting>
    <setting propertyKey="@Properties.units" title="@Strings.units" >
        <settingConfig type="list">
            <listEntry value="0">Don't force</listEntry>
            <listEntry value="1">Force to mg/l</listEntry>
            <listEntry value="2">Force to mmol/l</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.field1" title="Field 1" >
        <settingConfig type="list">
            <listEntry value="0">Nothing</listEntry>
            <listEntry value="1">Battery</listEntry>
            <listEntry value="2">Temperature</listEntry>
            <listEntry value="3">Wind speed (knots)</listEntry>
            <listEntry value="4">Pressure</listEntry>
            <listEntry value="5">Altitude</listEntry>
            <listEntry value="6">Steps</listEntry>
            <listEntry value="7">Distance</listEntry>
            <listEntry value="8">Heart rate</listEntry>
            <listEntry value="9">Floors climbed</listEntry>
            <listEntry value="10">Calories</listEntry>

        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.field2" title="Field 2" >
        <settingConfig type="list">
            <listEntry value="0">Nothing</listEntry>
            <listEntry value="1">Battery</listEntry>
            <listEntry value="2">Temperature</listEntry>
            <listEntry value="3">Wind speed (knots)</listEntry>
            <listEntry value="4">Pressure</listEntry>
            <listEntry value="5">Altitude</listEntry>
            <listEntry value="6">Steps</listEntry>
            <listEntry value="7">Distance</listEntry>
            <listEntry value="8">Heart rate</listEntry>
            <listEntry value="9">Floors climbed</listEntry>
            <listEntry value="10">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.field3" title="Field 3" >
        <settingConfig type="list">
            <listEntry value="0">Nothing</listEntry>
            <listEntry value="1">Battery</listEntry>
            <listEntry value="2">Temperature</listEntry>
            <listEntry value="3">Wind speed (knots)</listEntry>
            <listEntry value="4">Pressure</listEntry>
            <listEntry value="5">Altitude</listEntry>
            <listEntry value="6">Steps</listEntry>
            <listEntry value="7">Distance</listEntry>
            <listEntry value="8">Heart rate</listEntry>
            <listEntry value="9">Floors climbed</listEntry>
            <listEntry value="10">Calories</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.debuging" title="Debug ?" >
        <settingConfig type="boolean" /></setting>


</settings>
